/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  
  
  
  body {  
      margin: 0;  
      padding: 0;  
      background-color:#6abadeba;  
      font-family: 'Arial';  
  }  
  
  .ask {
    background-color: red;
    color: white;
    padding: 20px; 
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  .login {  
          width: 382px;  
          overflow: hidden;  
          margin: auto;  
          margin: 20 0 0 450px;;  
          padding: 80px;  
          background: white;  
          border-radius: 15px ;  
            
  }  
  
  .login-info {
    margin: auto;
    
  }
  
  #Uname {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    
  }
  
  #Pass {
    display: block;
    width: 100%;
    border-radius: 5px;
    border-radius: 5px;
    height: 30px;
  }
  
  #log {
    
    
    
  }
  
  
  
  
  
  
  