html {
  box-sizing: border-box;
  font-size: 16px;
}

body {  

    font-family: 'Arial'; 
    background: url(./images/image.png);
    background-size: cover;
}  

.ask-user {
  background-color: #6c0c8c;
  color: white;
  padding: 20px; 
  border-radius: 10px;
  margin-bottom: 40px;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login {  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px; 
        padding: 80px;  
        background: white;  
        border-radius: 15px ;  
          
}  

.login-info {
  margin: auto;
  
}

#Uname {
  display: block;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  font-size: 17px;
  text-align: center;
  
}

#Pass {
  display: block;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  font-size: 17px;
  text-align: center;
}

#log {
  display: block;
  color: white;
  padding: 10px 30px; 
  background-color: #191C3E;
  margin: auto;
  font-size: 17px;
  
}

.bottom {
  margin: auto;
}
  
.question {
  text-align: middle;
  color: white;
  margin: auto;
}

.student-center-container {
  margin-top: 150px;
  text-align: center;

}

.nurse {
  
}
  
.counselor {
  
}

.misconduct {
  
}

.referral {
  
}

.help-list {
  padding: 20px; 
  border-radius: 10px;
  margin-bottom: 40px;
  display: block;
  width: 35%;
  font-size: 20px;
}

  
  
.help-button {
  color: white;
  padding: 10px 30px; 
  background-color: grey;
  margin: auto;
  font-size: 17px;
}

.medicalline-container {
  display: flex;
  height: 100vh;
}

.medical-form {  
  width: 35%;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px; 
  padding: 80px;  
  border-radius: 15px;
  background-color: #dad9db;
  
          
}  

h1 {
  color: white;
}

.medical-info {
  margin: auto;
  
}

.text-holder {
  border-radius: 15px;
  font-size: 17px;
}
.submit {
  display: block;
  color: white;
  padding: 10px 30px; 
  background-color: #4474ec;
  margin: auto;
  font-size: 17px;
  margin-top: 40px;
}

.booking-container {
  margin-top: 200px;
  text-align: center;
  

}

label {
  color: white;
  font-size: 20px;
}

.report-container {
  margin-top: 40px;
  text-align: center;
}

.ask-report {
  background-color: #6c0c8c;
  color: white;
  padding: 10px; 
  border-radius: 3px;
  
}

.input-reportname {
  display: block;
  width: 30%;
  border-radius: 5px;
  height: 40px;
  font-size: 17px;
  
}

.health-container {
  margin-top: 80px;
}

.faculty-container {
  margin-top: 250px;
}